<% if (messagesuc.length > 0) { %>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 100;">
        <div style="z-index: 1000;" class="toast hide" role="alert"
             aria-live="assertive" aria-atomic="true" data-delay="5000">
            <div class="toast-header" style="background-color:#6cf56c">
                <i class="fas fa-thumbs-up" style="color:black;"></i>&nbsp;&nbsp;
                <strong class="mr-auto" style="color: black">Berhasil</strong>
            </div>
            <div class="toast-body"
                 style="display:flex;width: 300px; height: 80px;justify-content: center;align-items: center;color: black">
                <strong><%= messagesuc; %></strong>
            </div>
        </div>
    </div>
<% } %>
<% if (messageerr.length > 0) { %>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 100;">
        <div style="z-index: 1000;" class="toast hide" role="alert"
             aria-live="assertive" aria-atomic="true" data-delay="5000">
            <div class="toast-header" style="background-color:#d12e4c">
                <i class="fas fa-thumbs-down" style="color:black;"></i>&nbsp;&nbsp;
                <strong class="mr-auto" style="color: black">Gagal</strong>
            </div>
            <div class="toast-body"
                 style="display:flex;width: 300px; height: 80px;justify-content: center;align-items: center;color: black">
                <strong><%= messageerr; %></strong>
            </div>
        </div>
    </div>
<% } %>